In [3]:
# %% [markdown]
# # 1. Ingesta (Capa Bronce)
# Convertimos CSV crudo a formato Delta Lake.

# %%
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date
from delta import *
import os

# URL del Master (definida en docker-compose)
master_url = "spark://spark-master:7077"

# Configuración: Añadimos Delta Lake
builder = SparkSession.builder \
    .appName("Lab_SECOP_Bronze") \
    .master(master_url) \
    .config("spark.jars.packages", "io.delta:delta-spark_2.12:3.0.0") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.executor.memory", "1g") 

spark = configure_spark_with_delta_pip(builder).getOrCreate()

# %%
# LECTURA CSV
print("Leyendo CSV crudo...")
df_raw = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("delimiter", ",") \
    .option("inferSchema", "true") \
    .load("../data/SECOP_II_Contratos_Electronicos.csv")

Leyendo CSV crudo...

In [6]:
df_raw.show()

+--------------+-----------+------------+------+------+-----------------------+----------------+-------------------------+---------------------------------------+--------------+----------------------------+-------------------------+-----------+-----------+------------+
|       Entidad|Nit Entidad|Departamento|Ciudad|Estado|Descripcion del Proceso|Tipo de Contrato|Modalidad de Contratacion|Justificacion Modalidad de Contratacion|Fecha de Firma|Fecha de Inicio del Contrato|Fecha de Fin del Contrato|Precio Base|Valor Total|Valor Pagado|
+--------------+-----------+------------+------+------+-----------------------+----------------+-------------------------+---------------------------------------+--------------+----------------------------+-------------------------+-----------+-----------+------------+
|   ALCALDIA 90|       NULL|     BOLIVAR|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-02-28|                        NULL|                     NULL|    3582652|       NULL|        NULL|
|   ALCALDIA 78|       NULL|CUNDINAMARCA|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-05-09|                        NULL|                     NULL| 2745675528|       NULL|        NULL|
|   HOSPITAL 23|       NULL|   ATLANTICO|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-02-23|                        NULL|                     NULL| 3704121732|       NULL|        NULL|
|UNIVERSIDAD 87|       NULL|   ANTIOQUIA|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-11-13|                        NULL|                     NULL| 1993838284|       NULL|        NULL|
|  INSTITUTO 61|       NULL|CUNDINAMARCA|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-09-30|                        NULL|                     NULL| 4437422507|       NULL|        NULL|
|UNIVERSIDAD 38|       NULL|CUNDINAMARCA|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-05-11|                        NULL|                     NULL| 3017097008|       NULL|        NULL|
|GOBERNACION 17|       NULL|   ATLANTICO|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-05-29|                        NULL|                     NULL| 2613897233|       NULL|        NULL|
|   ALCALDIA 43|       NULL|       VALLE|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-11-20|                        NULL|                     NULL| 3453566058|       NULL|        NULL|
|UNIVERSIDAD 99|       NULL|       VALLE|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-09-04|                        NULL|                     NULL| 4984235025|       NULL|        NULL|
|   ALCALDIA 51|       NULL|   ATLANTICO|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-12-19|                        NULL|                     NULL|  597975492|       NULL|        NULL|
|   HOSPITAL 22|       NULL|   ATLANTICO|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-03-18|                        NULL|                     NULL| 4036222522|       NULL|        NULL|
|  INSTITUTO 90|       NULL|   SANTANDER|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-12-20|                        NULL|                     NULL| 4841926763|       NULL|        NULL|
|GOBERNACION 49|       NULL|   SANTANDER|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-07-01|                        NULL|                     NULL| 4535776652|       NULL|        NULL|
|  INSTITUTO 83|       NULL|      BOGOTA|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-05-03|                        NULL|                     NULL| 3210059135|       NULL|        NULL|
|UNIVERSIDAD 10|       NULL|     BOLIVAR|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-03-21|                        NULL|                     NULL|  122886186|       NULL|        NULL|
|GOBERNACION 36|       NULL|   SANTANDER|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-10-29|                        NULL|                     NULL|  492321103|       NULL|        NULL|
| INSTITUTO 100|       NULL|       VALLE|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-04-30|                        NULL|                     NULL| 3658679296|       NULL|        NULL|
|UNIVERSIDAD 26|       NULL|       VALLE|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-06-08|                        NULL|                     NULL| 4443023803|       NULL|        NULL|
|GOBERNACION 23|       NULL|     BOLIVAR|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-02-19|                        NULL|                     NULL| 3837055500|       NULL|        NULL|
|   HOSPITAL 38|       NULL|   SANTANDER|  NULL|  NULL|                   NULL|            NULL|                     NULL|                                   NULL|    2023-03-30|                        NULL|                     NULL| 2495852887|       NULL|        NULL|
+--------------+-----------+------------+------+------+-----------------------+----------------+-------------------------+---------------------------------------+--------------+----------------------------+-------------------------+-----------+-----------+------------+
only showing top 20 rows

In [9]:
nuevas_columnas= [

    c.strip().replace(" ", "_").replace("(", "").replace(")", "").lower() 
for c in df_raw.columns

]
# Aplicamos los nuevos nombres al DataFrame
df_raw = df_raw.toDF(*nuevas_columnas)
 
print("Nuevas columnas:", df_raw.columns)

Nuevas columnas: ['entidad', 'nit_entidad', 'departamento', 'ciudad', 'estado', 'descripcion_del_proceso', 'tipo_de_contrato', 'modalidad_de_contratacion', 'justificacion_modalidad_de_contratacion', 'fecha_de_firma', 'fecha_de_inicio_del_contrato', 'fecha_de_fin_del_contrato', 'precio_base', 'valor_total', 'valor_pagado']

In [10]:
# %%
# ESCRITURA BRONCE (Delta)
print("Escribiendo en capa Bronce...")
output_path = "../data/lakehouse/bronze/secop"
df_raw.write.format("delta").mode("overwrite").save(output_path)

print(f"Ingesta completada. Registros procesados: {df_raw.count()}")

Escribiendo en capa Bronce...

26/02/02 00:08:38 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Ingesta completada. Registros procesados: 1000

In [14]:
delta_secop = "/app/data/lakehouse/bronze/secop"
spark.sql(f"DESCRIBE HISTORY delta.`{delta_secop}`").show()

+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+--------------------+
|version|           timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|    operationMetrics|userMetadata|          engineInfo|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+--------------------+
|      0|2026-02-02 00:08:...|  NULL|    NULL|    WRITE|{mode -> Overwrit...|NULL|    NULL|     NULL|       NULL|  Serializable|        false|{numFiles -> 1, n...|        NULL|Apache-Spark/3.5....|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+--------------------+